:root{
    --primary-color:#560090;
    --secondary-color:#231F20;
    --linkedin-color: #0e76a8; 
    --github-color: #333;
    --text-color: #F9F5FF; 
    --text-color-secondary: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-size: 14px;
    color: var(--text-color);
    background-color: var(--secondary-color);
    letter-spacing: 1px;
}

#slides {
    height: 600px !important;
}

.overlay-slides{
    width: 100%;
    height: 100%;
    position: absolute;
    filter: brightness(50%);
}

.slides-navigation .next,.slides-navigation .prev{
    width: 50px;
    height: 50px;
    filter: brightness(100%);
    z-index: 2;
}

.arrow-icon{
    color: white;
    font-size: 40px;
}

.slides-navigation a.prev{
    left: 20px;
}

.slides-navigation a.next{
    right: 20px;
}

.title-message{
    position: absolute;
    width: 100%;
    height: 250px;
    top: 50%;
    text-align: center;
    margin-top: -125px;
}

.title-message .head-message p{
    color: #fff;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    font-weight: 100;
    letter-spacing: 5px;
}

.title-message .head-message .main-title{
    font-size: 50px;
}

.title-message .head-message .sub-title{
    font-size: 25px;
}

.about-text{
    padding: 100px 0 100px 0;
}
.about-image{
    max-width: 100%;
}

#about-name{
    font-size: 2rem;
    font-weight: 600;
    text-align: left;
}

.about-style-text{
    text-align: justify;
    font-size: 1.2rem;
}

.skills-section, .contact-section{
    background-color: var(--primary-color);
    color: #fff;
}

.skill{
    text-align: center;
    margin-left: 10px;
}

.text-skill{
    font-size: 1.2rem;
}

.chart{
    position: relative;
    width: 150px;
    height: 150px;
    display: inline-block;
    text-align: center;
}

.chart canvas{
    position: absolute;
    left: 0;
    top: 0;
}

.chart .skill-percentage{
    color: black;
    line-height: 150px;
    display: inline-block;
    font-size: 35px;
}

.chart .skill-percentage:after{
    content:'%';
}

.owl-nav{
    text-align: center;
    font-size: 3rem;
}
/*Coisas que foram feitas*/
.square-item{
    margin-top: 30%;
    position: relative;
}

.square-container{
    position: relative;
    padding: 50px 15px 35px;
    text-align: center;
    border: 2px solid var(--primary-color);
    border-top: none;
}
/*Como colocar os dois traços no topo junto com o ícone*/
.square-container:before,
.square-container:after
{
    content: '';
    position: absolute;
    top: 0px;
    width: 30%;
    border-bottom: 2px solid var(--primary-color);
}

.square-container:before{
    right: 0px;
}

.square-container:after{
    left: 0px;
}

.square-text h2{
    font-size: 55px;
    margin-bottom: 10px;
    font-weight: 400;
    color:var(--text-color);
}

.square-text h3{
    font-size: 15px;
    font-weight: 600;
    margin: 0;
}

.square-icon{
    position: absolute;
    left: 50%;
    top: -30px;
    width: 40%;
    height: 60px;
    font-size: 35px;
    margin-left: -20%;
    color: var(--primary-color);
}
/*Contato*/
.contact-section {
    margin-top: 30px;
}
.contact-button{
    padding: 15px 30px;
    display: inline-block;
    margin-top: 20px;
    border:1px solid #fff;
    border-radius: 2px;
    width: 15%;
    transition: transform 0.3s ease;
}

.linkedin-button{
    color: var(--linkedin-color);
}

.github-button{
    color: var(--github-color);
}

.contact-icon{
    padding-bottom: 10px;
}
.linkedin-icon {
    font-size: 40px;
    text-align: center;
}

.github-icon{
    font-size: 40px;
    text-align: center;
}

.contact-button:hover{
    color: #fff;
    text-decoration: none;
    border:1px solid #fff;
    transform: scale(1.1);
}

/*Portfolio*/
.filter-portfolio{
    text-align: center;
    width: 100%;
}

.section .title-portifolio{
    text-align: center;
    padding-bottom: 30px;
    width: 100%;

}
.filter-portfolio a{
    color: #333;
    border: 1px solid #333;
    padding: 10px 20px;
    display: block;
}

.filter-portfolio li{
    display: inline-block;
    padding: 5px;
}

.filter-portfolio .current{
    background-color: var(--primary-color);
    border-color:   var(--text-color);
    color: #fff;
}

.items li{
    display: inline-block;
    padding: 5px;
}

.itens-portolio{
    width: 100%;
}

.items li img{
    width: 100%;
}

.items .items{
    position: relative;
    display:block;
    overflow: hidden;
}

.items .icons{
    position: absolute;
    width: 90px;
    height: 40px;
    left: 50%;
    top: 50%;
    margin: -10px auto 0 -47px;
    text-align: center;
    z-index: 3;
}

.items .icons i{
    color: white;
    font-size: 20px;
    margin-top: 9px;
}

.items a{
    width: 40px;
    height: 35px;
    background-color: var(--primary-color);
    position: relative;
    display: inline-block;
}

.items .image-overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    transition: 1.2s;
}

.items .item:hover .image-overlay{
    opacity: 1;

}

.items .open-project{
    float: left;
    opacity: 0;
    transition: 1.5s;
}

.items .project-link{
    float: right;
    opacity: 0;
    transition: 1.5s;
}

.items .item:hover .open-project{
    opacity: 1;

}

.items .item:hover .project-link{
    opacity: 1;
}

.items .item:hover img{
    transform: scale(1.05);
    transition: 1.3s;
}
.items{
    padding: 0;
}

.footer-section{
    background-color: var(--primary-color);
    color: var(--text-color-secondary);
}
.footer-text{
    text-align: justify;
}



/*Navbar*/

#navigation{
    background-color: var(--primary-color);
    padding: 15px 10px;
    z-index: 100;
    width: 100%;
}

#navigation li{
    padding: 0 10px;
}

#navigation li a {
    color: var(--text-color-secondary);
    font-size: 1.3rem;
}

#navigation li a:hover {
    text-decoration: underline;
}

.fixedNav #navigation{
    position: fixed;
    top: 0;
}

.navbar-brand{
    color: var(--text-color-secondary);
    font-size: 1.5rem;
}

.navbar-brand, .navbar-brand:hover{
    color: var(--text-color-secondary);
}

.bi-lis{
    font-size: 30px;
    color: #333;
}

.loading{
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading .inner{
    width: 100%;
    height: 100%;
    background: url(../assets/images/spinner.gif) center center no-repeat;
}


/*Celular*/
@media only screen and (max-width: 600px) {

    .slides-navigation {
        padding-top: 5rem;
    }


    #about-name{
        font-size: 1.7rem;
    }
    .arrow-icon{
        font-size: 30px;
    }
    .contact-section {
        margin-top: 30px;
    }

    .linkedin-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        transition: background-color 0.3s ease;
    }

    .github-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        transition: background-color 0.3s ease;
    }

    .contact-button{
        width: 15%;
        padding: 10px 20px;
    }

    

    
}

/*Tablet*/
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .slides-navigation {
        padding-top: 5rem;
      }
    .contact-button{
        padding: 15px 0;
    }
    
}

