*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 14px;
    color: #333;
    background-color: #fff;
    letter-spacing: 1px;
}

.overlay-slides{
    width: 100%;
    height: 100%;
    position: absolute;
    filter: brightness(50%);
}

.slides-navigation .next,.slides-navigation .prev{
    width: 50px;
    height: 50px;
    filter: brightness(100%);
    z-index: 2;
}

.arrow-icon{
    color: white;
    font-size: 40px;
}

.slides-navigation a.prev{
    left: 20px;
}

.slides-navigation a.next{
    right: 20px;
}

.title-message{
    position: absolute;
    width: 100%;
    height: 250px;
    top: 50%;
    text-align: center;
    margin-top: -125px;
}

.title-message .head-message p{
    color: #fff;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    font-weight: 100;
    letter-spacing: 5px;
}

.title-message .head-message .main-title{
    font-size: 50px;
}

.title-message .head-message .sub-title{
    font-size: 25px;
}

.about-text{
    padding: 100px 0 100px 0;
}
.about-image{
    max-width: 100%;
}

#about-name{
    font-size: 25px;
    font-weight: 600;
    text-align: left;
}

.about-style-text{
    text-align: justify;
}

.skills-section, .contact-section{
    background-color: burlywood;
    color: #fff;
}

.skill{
    text-align: center;
    margin-left: 10px;
}

.chart{
    position: relative;
    width: 150px;
    height: 150px;
    display: inline-block;
    text-align: center;
}

.chart canvas{
    position: absolute;
    left: 0;
    top: 0;
}

.chart .skill-percentage{
    color: black;
    line-height: 150px;
    display: inline-block;
    font-size: 35px;
}

.chart .skill-percentage:after{
    content:'%';
}
/*Coisas que foram feitas*/
.square-item{
    margin-top: 30%;
    position: relative;
}

.square-container{
    position: relative;
    padding: 50px 15px 35px;
    text-align: center;
    border: 2px solid #444;
    border-top: none;
}
/*Como colocar os dois traços no topo junto com o ícone*/
.square-container:before,
.square-container:after
{
    content: '';
    position: absolute;
    top: 0px;
    width: 30%;
    border-bottom: 2px solid #444;
}

.square-container:before{
    right: 0px;
}

.square-container:after{
    left: 0px;
}

.square-text h2{
    font-size: 55px;
    margin-bottom: 10px;
    font-weight: 400;
    color:burlywood;
}

.square-text h3{
    font-size: 15px;
    font-weight: 600;
    margin: 0;
}

.square-icon{
    position: absolute;
    left: 50%;
    top: -30px;
    width: 40%;
    height: 60px;
    font-size: 35px;
    margin-left: -20%;
    color: #444;
}

.contact-button{
    padding: 15px 20px;
    display: inline-block;
    margin-top: 20px;
    border:1px solid #fff;
    border-radius: 2px;
    width: 15%;
    transition: transform 0.3s ease;
}

.linkedin-icon {
    font-size: 40px;
    text-align: center;
}

.contact-button:hover{
    color: #fff;
    text-decoration: none;
    border:1px solid #fff;
    transform: scale(1.1);
}

/*Celular*/
@media only screen and (max-width: 600px) {

    .linkedin-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
        transition: background-color 0.3s ease;
    }

    .contact-button{
        width: 15%;
        padding: 10px 20px;
        
    }
}

/*Tablet*/
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    
}

